body {
	font-family: arial, helvetica, sans-serif;
	background-image: url(image4.jpeg);
	font-style: italic;
}

h1 {
	font-family: arial, helvetica, sans-serif;
	color: BLACK;
	font-size: 4;
	font-style: italic;
}
p {
	font-family: arial, helvetica, sans-serif;
	font-style: italic;
	color: black;
}
A:link{ 
	Color:blue; } 
A:visited{ 
	Color:purple;} 
